body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    color: #d3d3d3;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #1a1a1a;
}

.component p {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .component p {
        font-size: 1em;
    }
}
